<div class="container">
  <div class="user-details">
    <h3> Personal Details </h3>
    <p>I graduated from National Taiwan University and gotten my Ph.D. dergree. Now I work at Department of Healthcare Management in Yuanpei University of Medical Techonlogy. </p>
    <p>I major in Econometrics including Durbin-Watson statistic and LM test of time series model, Stochastic and dynamic game theory which is based on the probability distribution and transformation simulation.</p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Researches</h4>
      <img src="https://github.com/meiyulee/meiyulee.github.io/blob/master/assets/img/journals.jpg" width=100 height=100>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Teaching</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Experiences</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>My</p>
    </div>
  </div>
</div>
